<h1>TestingMath</h1>

<p>Добри день!<p><br/>

<p>Ваш метод був перевірений нашими спеціалістами і в кінцевому результаті було прийнято одноголосне
  рішення змінити статус вашого метода з 'pending' в '<%= status %>'</p>

